{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="w-11/12 mx-auto my-10 print-area">
    <h1 class="bg-green-600 text-4xl text-center text-white font-bold py-5 rounded-full">Patient Entry Recipe</h1>
   

<div class="relative overflow-x-auto ">
    {% if patient %}
    <table class="w-full  text-left rtl:text-right text-gray-500 dark:text-gray-400 mt-10 text-xl">
        <tbody>
            {% for key, value in patient.items %}
             <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <td class="px-6 py-4 font-bold">
                    {{key | capfirst}}
                </td>
                <td class="px-6 py-4">
                    {{value}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2 class="text-center text-5xl font-bold my-6">No Data Found</h2>
    {% endif %}
</div>
<div class="box h-40 flex justify-between items-center my-5">
    <div class="sign h-40 w-40 "></div>
    <div class="qr h-40 w-40 ">
        <img src="{% static "img/qr/" %}{{patient.id}}.png" alt="">
    </div>
</div>

{% if patient %}
<div class="buttons flex gap-5">
<button class="bg-green-700 text-white py-3 px-10 text-lg flex gap-2 items-center font-bold rounded-full mt-5 cursor-pointer">Print <img src="{% static "img/print.png" %}" alt="" class="h-[1.5rem] invert-100 print-btn" onclick="window.print()"></button>
<button class="bg-yellow-600 text-white py-3 px-10 text-lg flex gap-2 items-center font-bold rounded-full mt-5 cursor-pointer">Edit <img src="{% static "img/edit.png" %}" alt="" class="h-[1.5rem] invert-100 print-btn" onclick="window.print()"></button>
<button class="bg-red-700 text-white py-3 px-10 text-lg flex gap-2 items-center font-bold rounded-full mt-5 cursor-pointer">Delete <img src="{% static "img/delete.png" %}" alt="" class="h-[1.5rem] invert-100 print-btn" onclick="window.print()"></button>
</div>
{% endif %}
</div>
{% endblock content %}