header.main-header{
    background: linear-gradient(rgba(6, 243, 192, 0.26),rgba(5, 211, 149, 0.301)), url("/static/img/bg1.jpg");
    background-size: cover;
    background-position: center;
}
header.login-header{
    background: url("/static/img/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header.signup-header{
    background: url("/static/img/signup-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header.signup-header form{
    background: #ffffff6e;
    backdrop-filter: blur(10px);
}

header.login-header form{
    background: #ffffff9c;
    backdrop-filter: blur(10px);
}
header.operator-header{
    background: url("/static/img/bg2.jpg");
    background-size: cover;
}
#id_gender{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header.operator-header form{
    background: #ffffffb4;
    backdrop-filter: blur(10px);
}
.toastify-success{
    background: rgb(1, 92, 1) !important;
}
.toastify-error{
    background: rgb(134, 1, 1) !important;
}
@media print{
    nav{
        display: none;
    }
    .buttons{
        display: none;
    }
}